body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
  }
  
  body.dark-mode .navbar {
    background-color: #1e1e1e !important;
  }
  
  body.light-mode {
    background-color: #ffffff;
    color: #000000;
  }
  
  body.light-mode .navbar {
    background-color: #f8f9fa !important;
  }
  